* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
}


/*---nav----*/

nav {
    text-decoration: none;
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 115%;
    padding-bottom: 2px;
    padding-top: 2px;
    min-height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;

}

.nav-links:link {
    display: inline-block;
    color: #ffb366;
    text-decoration: none;

}

.nav-links:visited {
    color: #999999;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-links:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*--- gallery nav----*/

li {
    list-style-type: none;
}

header {
    background-color: #ffffff;
    min-height: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

article {
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
}



footer {
    text-align: center;
    color: #999999;
    min-height: 50px;
    clear: both;
}

h1 {
    background-color: #ffffff;
    color: #ffb366;
    font-family: 'Fredericka the Great', cursive;
    font-size: 600%;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
}

h2 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.75em;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 2px;
    text-align: center;
}

h3 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}

p {
    color: #4C4C4C;
    font-size: 80%;
    padding: 20px;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    text-align: center;
}

.reference-image {
    left: 30px;
    position: relative;
    padding: 10px 10px 15px 0;
}
