* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
}


/*---nav----*/

nav {
    text-decoration: none;
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 115%;
    padding-bottom: 2px;
    padding-top: 2px;
    min-height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;

}

.nav-links:link {
    display: inline-block;
    color: #ffb366;
    text-decoration: none;

}

.nav-links a:visited {
    color: #999999;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-links a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.social-links a:link {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 50px;
    padding-top: 2px;
    min-height: 100px;
    text-align: center;
    
    
    
}

.social-links a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.header-nav a:link {
    text-decoration: none;
    color: #ffb366;
    
}

.header-nav a:visited {
     text-decoration: none;
     color: #ffb366;
}

.header-nav a:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*--- gallery nav----*/

.gallery a:link {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery a:visited {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    transition: opacity 1s;
}

li {
    list-style-type: none;
}

header {
    background-color: #ffffff;
    min-height: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

article {
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
}



footer {
    text-align: center;
    color: #999999;
    min-height: 50px;
    clear: both;
}

h1 {
    background-color: #ffffff;
    color: #ffb366;
    font-family: 'Fredericka the Great', cursive;
    font-size: 600%;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
}

h2 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.75em;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 2px;
    text-align: center;
}

h3 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}

p {
    color: #4C4C4C;
    font-size: 80%;
    padding: 20px;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    text-align: center;
}

.reference-image {
    left: 30px;
    position: relative;
    padding: 10px 10px 15px 0;
}

.gallery figure {
    height: 175px;
    float: left;
    margin: 80px;
    width: 9%;
    padding-bottom: 40px;
    text-align: center;
    display: inline-block;
}

figcaption {
    color: #ffb366;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 90%;
    padding-left: 70px;
    display: inline-block;
}

figure {
    text-align: center;
}

/*----video------*/

#vid { 
text-align: center;

}

#vidpause {
position: relative;
margin-top: 5%;
margin-left: 5%;
font-size: 1.0em;
color: white;
background-color: #ffb366;
background: square;
border: 0 none;
cursor: pointer;
border-radius: 3px;
}

#vid { transition: 1s opacity; 
}

.stopfade { opacity: .5; 
}
