* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
}


/*---nav----*/

nav {
    text-decoration: none;
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 115%;
    padding-bottom: 2px;
    padding-top: 2px;
    min-height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    position: relative;   

}

.nav-links a:link {
    display: inline-block;
    color: #ffb366;
    text-decoration: none;

}

.nav-links a:visited {
    color: #999999;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-links a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*----social links-----*/



.social-links a:link {
     text-decoration: none;
    display: inline-block;
    padding-top: 100px;
    min-height: 10px;
    text-align: center;
    text-decoration: none;
    position: relative; 
}

.social-links ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.social-links li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;   
}


.social-links a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}


.header-nav a:link {
    text-decoration: none;
    color: #ffb366;
    
}

/*----header links-----*/

.header-nav a:visited {
     text-decoration: none;
     color: #ffb366;
}

.header-nav a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*--- gallery nav----*/

.gallery a:link {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery a:visited {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    transition: opacity 1s;
}


/*----sub nav------*/

nav li,
.sub-nav {
    list-style: none;
    text-decoration: none;
    
}

nav li a{
    color: #ffb366;
    display: block;
    text-decoration: none;
   
}

nav li .sub-nav li {
    display: none;
}

nav li a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: background-color .5s;
}

nav li:hover .sub-nav li {
    display: block;

}

/*----sub nav------*/


li {
    list-style-type: none;
}

header {
    background-color: #ffffff;
    min-height: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

article {
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
}



footer {
    text-align: center;
    color: #999999;
    min-height: 20px;
    clear: both;

}

h1 {
    background-color: #ffffff;
    color: #ffb366;
    font-family: 'Fredericka the Great', cursive;
    font-size: 600%;
    padding-bottom: 25px;
    padding-top: 50px;
    text-align: center;
}

h2 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.75em;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}

h3 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}

p {
    color: #4C4C4C;
    font-size: 80%;
    padding: 20px;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    text-align: center;
}

.reference-image {
    position: relative;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid; 
    margin-top: 10px;
    
}

.gallery figure {
    height: 175px;
    margin: 70px;
    width: 70px;
    text-align: center;
    display: inline-block;
   
}

figcaption {
    color: #ffb366;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 90%;
    float: top;
    padding-left: 100%;
    display: inline-block;
    
}

figure {
    text-align: center;
    width: 100%;
}

