* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
}

header {
    background-color: #ffffff;
    min-height: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}


nav {
    text-decoration: none;
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 115%;
    padding-bottom: 2px;
    padding-top: 2px;
    min-height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    
}

.nav-links a:link {
    display: inline-block;
    color: #ffb366;
    text-decoration: none;
    
}

.nav-links a:visited {
    color: #999999;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-links a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.sub {
    min-height: 5px;
    width: 15%;
    background-color: white;
    padding-left: 420px;
    padding-right: 200px;
    text-align: center;
    display: inline-block;
}

/*----social links-----*/


.social-links a {
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    padding-top: 20px;
    text-align: center;  
}

.social-links ul {
    display: inline-block;
    text-align: center;
}

.social-links a:hover {
    opacity: 0.7;
    
}

/*----social links-----*/



.header-nav a:link {
    text-decoration: none;
    color: #ffb366;
    
}

.header-nav a:visited {
     text-decoration: none;
     color: #ffb366;
}

.header-nav a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}


/*----sub nav------*/

nav li,
.sub-nav {
    list-style: none;
    margin: 10px;
    padding: 0;

}

nav li {
    line-height: 7px;
    margin-right: 15px;
    text-align: center;
    width: 50px;
}

nav li a {
    color: #ffb366;
    display: block;
    text-decoration: none;
    z-index: 1  
}

nav li a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: background-color .5s;
}

nav li .sub-nav li {
    display: none;
}

nav li:hover .sub-nav li {
    display: block;

}

li {
    display: inline-block;
}

article {
    background-color: #ffffff;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
}

h1 {
    background-color: #ffffff;
    color: #ffb366;
    font-family: 'Fredericka the Great', cursive;
    font-size: 600%;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
}
h2 {
    background-color: #ffffff;
    color: #737373;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    font-size: 1.75em;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}

p {
    color: #4C4C4C;
    font-size: 80%;
    padding: 10px;
    font-family: "Hoefler-Text", "Lucida-Bright", "Book-Antiqua", serif;
    text-align: center;
}

.reference-image {
    position: relative;
    text-align: center;
}

section {
    text-align: center;
    min-height: 20px;
}

.img {
    position: relative;
    text-align: center;
    padding-left: 340px;
    
}

footer {
    text-align: center;
    color: #999999;
    min-height: px;
    clear: both;
}


